@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 30s linear infinite;
  /* Ensure the scroll effect is smooth */
}

.relative {
  width: 100%;
  /* Ensure the section stretches fully */
}

section {
  padding: 0;
  margin: 0;
}

.text-center {
  width: 100%;
  /* Ensure the text container stretches fully */
}

.experience-card {
  flex-shrink: 0;
  /* Ensure the card does not shrink */
  min-width: 300px;
  max-width: 500px;
  /* Adjust as needed */
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}
.white-blue-gradient {
  background: "#FFFFFF";
  background: linear-gradient(90.13deg, #ffffff 1.9%, #d0e8f2 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #ffffff 1.9%, #d0e8f2 97.5%);
}

.orange-text-gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.typing-loop {
  overflow: hidden;
  border-right: 0.15em solid #ffffff; /* The caret color */
  white-space: nowrap;
  margin: 0 left;
  letter-spacing: 0.15em;
  width: 0;
  animation: typing 7s steps(30, end), blink-caret 1s step-end infinite;
  animation-iteration-count: infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  80% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ffffff;
  }
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

/* Apply fade-in animation to the card */
@keyframes popupFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-card {
  margin-bottom: 500px;
}
.minimal-input,
.minimal-textarea {
  background-color: transparent; /* Hilangkan warna latar belakang */
  border: none; /* Hilangkan border */
  border-bottom: 2px solid rgba(255, 255, 255, 0.7); /* Beri garis bawah */
  color: white; /* Warna teks */
  padding: 10px 0; /* Jarak atas dan bawah */
  font-size: 16px; /* Ukuran font */
  outline: none; /* Hilangkan outline */
  transition: border-color 0.3s ease-in-out; /* Animasi saat fokus */
}

.minimal-input::placeholder,
.minimal-textarea::placeholder {
  color: rgba(255, 255, 255, 0.5); /* Warna placeholder */
}

.minimal-input:focus,
.minimal-textarea:focus {
  border-bottom: 2px solid white; /* Warna garis bawah saat fokus */
}

.minimal-textarea {
  resize: none; /* Hilangkan fitur resize */
}
.footer-logo {
  width: 35px; /* Atur ukuran logo sesuai kebutuhan */
  height: 35px;
  object-fit: contain; /* Menjaga rasio gambar */
}

.footer-link {
  display: flex;
  align-items: center; /* Rata tengah vertikal */
}

.footer-link img {
  margin-right: 15px; /* Jarak antara logo dan teks link */
}
@media (max-width: 768px) {
  footer {
    padding: 101px 0; /* Kurangi padding vertikal */
  }
  .footer-link {
    margin: 0 5px; /* Kurangi margin di sekitar ikon */
  }
  .footer-logo {
    width: 20px; /* Sesuaikan ukuran ikon agar lebih kecil di mobile */
    height: 20px;
  }
} /* styles.css */
.btn-primary {
  background-color: #151030; /* Contoh warna primary */
  color: white;
  border-radius: 0.5rem; /* Rounded corners */
  padding: 0.5rem 1rem; /* Padding */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.btn-primary:hover {
  background-color: #2563eb; /* Warna terang saat hover */
}
